{% extends "base.html" %}
{% block title %}{{ _("Login · docker-proxy") }}{% endblock %}
{% block content %}
<div class="card narrow">
  <h1>{{ _("Login") }}</h1>
  <form method="post">
    {{ form.hidden_tag() }}
    <label>
      <span>{{ _("Username") }}</span>
      {{ form.username(autofocus=true, autocomplete="username") }}
    </label>
    <label>
      <span>{{ _("Password") }}</span>
      {{ form.password(autocomplete="current-password") }}
    </label>
    {{ form.submit(class_="btn primary block") }}
  </form>
</div>
{% endblock %}
